@import url('./rainbow.css');

:root {
  --tab-nav-bg-color: #c3def3 !important;
}

.mdContent {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
  z-index: 1;
}

.mdContent > h1 a::before {
  content: '🐲';
}

.mdContent > h2 a::before {
  content: '🦄';
}

.mdContent > h3 a::before {
  content: '🐳';
}

.mdContent > h4 a::before {
  content: '🦋';
}

.mdContent > p > img {
  box-shadow: 0 0 5px #8883;
  border-radius: 5px;
}

.mdContent > p > img:only-child {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.mdContent > blockquote {
  padding: 10px 20px;
  background: rgba(27, 31, 35, 0.05);
}

.mdContent code {
  background: #c3cfdc45;
}

.mdContent > p > code {
  margin: 0 0.2em;
}

.mdContent > div {
  position: relative;
}

.mdContent > div[class*='language-'] {
  margin-top: 30px;
}

.mdContent > div[class*='language-']:before {
  content: attr(data-title);
  display: block !important;
  position: absolute;
  left: 0;
  bottom: calc(100% - 10px);
  width: 100%;
  background: #2a303a;
  color: #ccc;
  padding: 5px 15px 15px 15px;
  box-sizing: border-box;
  border-radius: 5px 5px 0 0;
  z-index: -1;
  line-height: 25px;
}

.mdContent > div[class*='language-'] > .vp-copy-code-button {
  display: block;
  opacity: 1;
  position: absolute;
  top: -31px;
  right: 10px;
  height: auto;
  padding: 0;
  width: auto;
  opacity: 0;
  transition: 0s;
}

.mdContent > div[class*='language-']:hover > .vp-copy-code-button {
  opacity: 1;
}


.mdContent > div[class*='language-'] > .vp-copy-code-button.copied::after {
  height: auto;
  padding: 5px 10px;
}

.mdContent .vp-copy-icon {
  margin: auto;
  padding: 15px 20px;
  line-height: 1em;
}

.mdContent > blockquote > blockquote:only-child {
  padding: 1em;
  background: rgb(227, 181, 181);
  border-left: 0.5em solid rgb(199, 39, 39);
  margin: -10px -20px -10px -24px;
}

.mdContent p.hint-container-title {
  margin-bottom: 0px;
}

.mdContent li > strong,
.mdContent p > strong {
  color: #0366d6;
}

.mdContent .mermaid-actions {
  height: 0;
  margin-bottom: -20px;
  z-index: 1;
}

.mdContent .mermaid-color1 > rect {
  fill: #f38181 !important;
  stroke: #e4aeae !important;
}

.mdContent > table > thead > tr > th {
  white-space: nowrap;
}

.mdContent > [class*='language-'][data-title="hidden"] {
  margin-top: 0;
}
.mdContent > [class*='language-'][data-title="hidden"] > .vp-copy-code-button {
  top: 10px;
}
.mdContent > [class*='language-'][data-title="hidden"] > pre {
  padding-right: 60px;
}
.mdContent > [class*='language-'][data-title="hidden"]::before {
  content: none;
}
